<!--navbar  -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(138, 228, 246);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Det-Tutorial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">info</a>
          </li>   
        </ul>
      </div>
    </div>
  </nav>

  <!-- solid section -->
<div class="container">
  <div class="row" >
    <div class="col" id="heading-grp">
      <h1 id="heading-one">India's Largest </h1>
      <h2 id="heading-two">learning platform</h2>
      <button type="button" class="btn btn-outline-success" id="btn">start learning</button>
    </div>
    <div class="col">
      <img src="assets\pic1.png" width="auto" height="400px" id="pic1">
    </div>
  </div>
</div>

<!-- popular benifits -->
<div class="container "  id="benifits-section">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" style="border: 0px solid;">
        <img src="assets\pic2.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Bubblegum Sans', cursive; font-size: 30px; margin-top: 17px;" >Daily live classes</h5>
          <p class="card-text">Chat with educators, ask questions, answer live polls, and get your doubts cleared - all while the class is going on.</p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border: 0px solid;">
        <img src="assets\pic3.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Bubblegum Sans', cursive; font-size: 30px; margin-top: 17px;">Practice and revise</h5>
          <p class="card-text">Learning isn't just limited to classes with our practice section, mock tests and lecture notes shared as PDFs for your revision</p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="border: 0px solid;">
        <img src="assets\pic4.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Bubblegum Sans', cursive; font-size: 30px; margin-top: 17px;">Learn anytime, anywhere</h5>
          <p class="card-text">One subscription gets you access to all our live and recorded classes to watch from the comfort of any of your devices</p>
        </div>
       
      </div>
    </div>
  </div>
</div>

<!-- subscription -->
<div class="card" id="subscription-card" >
  <h2 style="margin-top: 100px;">LITE subscription</h2>
  <span>Assess your preparation with tests</span>
</div>
<!-- footer -->
<div class="container"><hr></div>
<div class="container" >
  <div class="row" style="margin-top: 120px;">
    
    <div class="col-3" style="margin-left: 15px;">
      <h3 style="font-family: cursive;">Det-Tutorials</h3>
      <span style="color: rgb(149, 147, 147); font-family: 'Inter', sans-serif; ">We areIndia’s largest online learning platform. Download our apps to start learning</span>
    </div>
    <div class="col-1">
      <ul style="list-style: none;">
        <h6></h6>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-3" style="margin-top: 10px; margin-left: 140px;">
      <ul style="list-style: none; color: gray; font-family: 'Inter', sans-serif; font-size: 15px;">
        <h6 style="color: black; font-weight: bold;">Company</h6>
        <li>About us</li>
        <li>Carrer</li>
        <li>Blogs</li>
        <li>Terms and conditions</li>
      </ul>
    </div>
    <div class="col-3" style="margin-top: 10px; margin-left: 20px;">
      <ul style="list-style: none; color: gray; font-family: 'Inter', sans-serif; font-size: 15px;"> 
        <h6 style="color: black; font-weight: bold;">Help & Support</h6>
        <li>User Guidelines</li>
        <li>Site Map</li>
        <li>Takedown Policy</li>
        <li>Refund Policy</li>
      </ul>
    </div>
  </div>
<hr>
<span>
<ul style="list-style: none;">
  <small>© 2022 Sorting Hat Technologies Pvt Ltd</small>
  <li style="float: right; padding-left: 10px;"><i class="bi bi-youtube"></i></li>
  <li style="float: right; padding-left: 10px; "><i class="bi bi-instagram"></i></li>
  <li style="float: right; padding-left: 10px;"><i class="bi bi-twitter"></i></li>
  <li style="float: right; padding-left: 10px;"><i class="bi bi-linkedin"></i></li>
</ul>
</span>
</div>
 